@import "reset";

body{
    font-family: 'Lato', sans-serif;
}
.hidden_heading{
    position: absolute;
    left: -9999999px;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.container{
    max-width: 1140px;
    margin:0 auto;
    padding: 0 16px;
}
a{
    text-decoration: none;
}