@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  font-size: 100%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins,
del {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

a {
  text-decoration: none;
}

.animation-zoom:hover {
  -webkit-animation: animation-zoom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: animation-zoom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes animation-zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes animation-zoom {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header_back {
  background: #222222;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 32px;
  min-height: 75px;
}

.header_left {
  position: relative;
}

.search-label {
  cursor: pointer;
}

#toggle {
  display: none;
}

.b_home {
  margin-right: 41px;
  text-decoration: none;
}

.b_user {
  margin: 0 33px;
}

.b_cart {
  position: relative;
  padding-right: 12px;
}

.coil {
  border-radius: 100%;
  background: #f16d7f;
  padding: 3px 6px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 25px;
}

.label_menu {
  cursor: pointer;
}

.nav {
  background: white;
  padding: 1px 0 20px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 17px;
  width: 231px;
  min-height: 764px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 999;
  right: 0;
  top: 75px;
  -webkit-transform: scaley(0);
  transform: scaley(0);
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#toggle:checked ~ .nav {
  -webkit-transform: scaley(1);
  transform: scaley(1);
}

.name_cat {
  color: #f16d7f;
  margin-left: 14px;
}

.menu_list li a {
  text-decoration: none;
  color: #6f6e6e;
}

.menu_list li a:hover {
  text-decoration: underline;
  color: #f16d7f;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu_list li {
  padding: 12px 20px 0;
}

.menu_heading {
  font-weight: bold;
  color: #000000;
  padding: 0;
  margin: 34px 34px 24px;
}

.banner {
  background: #f1e4e6;
}

.promo {
  background: url("../img/promo_back.png") -222px bottom no-repeat;
  min-height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner_heading {
  font-size: 31px;
  line-height: 40px;
  color: #222222;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-left: 50%;
}

.bh_bold {
  font-weight: 900;
  font-size: 48px;
}

.pink_color {
  color: #f16d7f;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 65px;
}

.category_item {
  width: 32.5%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.category_acc {
  width: 100%;
  background: url("../img/category_acc.jpg") 50% 50% no-repeat;
}

.card_img {
  width: 100%;
}

.back_fon {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card_text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin: auto;
}

.card_text_bold {
  font-size: 24px;
  font-weight: 700;
  color: #f16d7f;
  display: block;
}

.block_fetuder {
  margin: 80px 0 95px;
}

.fetured_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fetured_heading {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.fetured_p {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 48px;
  text-align: center;
}

.product_card {
  max-width: 360px;
  margin-bottom: 30px;
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product_img_block {
  position: relative;
  margin-bottom: 25px;
}

.add_cart_back {
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.product_card:hover .add_cart_back {
  opacity: 1;
}

.add_cart_button {
  background: none;
  padding: 15px 15px 15px 50px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #fff;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.add_cart_button_img {
  width: 26px;
  height: 24px;
  fill: #e8e8e8;
  position: absolute;
  left: 14px;
  top: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.add_cart_button:hover .add_cart_button_img {
  fill: #f16d7f;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.add_cart_button:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
  cursor: pointer;
}

.img_product {
  width: 100%;
}

.info_product {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.heading_product {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.heading_product_link {
  text-decoration: none;
  color: #000000;
}

.heading_product_link:hover {
  text-decoration: underline;
}

.desc_product {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}

.price_product {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  margin-bottom: 20px;
  margin-top: auto;
}

.b_all_product {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding: 15px 39px;
  border: 1px solid #f16d7f;
  margin: 18px auto 0;
  display: block;
  width: 136px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.b_all_product:hover {
  background: #f16d7f;
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.advantage_block {
  background: #222222;
  min-height: 341px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantage_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 32px;
}

.advantage_item {
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  margin: 0 10px;
}

.advantage_img {
  margin-bottom: 28px;
}

.advantage_heading {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  margin-bottom: 16px;
}

.advantage_desc {
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
}

.mailing_fon {
  background: url("../img/mailing_fon.jpg") 50% no-repeat;
  background-size: cover;
}

.mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 448px;
}

.mailing_info {
  max-width: 360px;
  text-align: center;
}

.mailing_img {
  width: 96px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.mailing_desc {
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
}

.mailing_form {
  padding: 0 80px;
  text-align: center;
}

.mailing_form_heading {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 32px;
}

.mailing_span {
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
}

.email_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mailing_email_input {
  background: #e1e1e1;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  border: none;
  border-radius: 25px 0 0 25px;
  padding: 7px 20px;
}

.mailing_email_input:focus {
  background: #fff;
}

.email_button {
  width: 100px;
  height: 49px;
  border: none;
  background: #f16d7f;
  border-radius: 0 25px 25px 0;
  color: white;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.email_button:hover {
  background: #fff;
  color: #f16d7f;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer {
  background: #222222;
  min-height: 79px;
  color: #fff;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 79px;
  margin: 0 32px;
}

.social_button a {
  text-decoration: none;
}

.fb_ico {
  fill: black;
  background: white;
  padding: 9px 12px;
  margin-right: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.instagram_ico {
  fill: black;
  background: white;
  padding: 9px 8.5px;
  margin-right: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pinterest_ico {
  fill: black;
  background: white;
  padding: 8.5px 10px;
  margin-right: 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.twitter_ico {
  fill: black;
  background: white;
  padding: 9.5px 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fb_ico:hover,
.instagram_ico:hover,
.pinterest_ico:hover,
.twitter_ico:hover {
  fill: white;
  background: #f16d7f;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ------------------------------------------- */

.fetured_options {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 43px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#filter {
  display: none;
}

#filter:checked ~ .filter_button,
#filter:checked ~ .filter_ico {
  fill: #f16d7f;
  color: #f16d7f;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

#filter:checked ~ .filter_content {
  -webkit-animation: filter-animation 1.1s both;
  animation: filter-animation 1.1s both;
  opacity: 1;
  left: 0px;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes filter-animation {
  0% {
    -webkit-transform: translateX(-600px);
    transform: translateX(-600px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-68px);
    transform: translateX(-68px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-28px);
    transform: translateX(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.filter {
  width: 31.58%;
  background-color: #ffffff;
  position: relative;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filter_content {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  background-color: #fff;
  width: 100%;
  min-width: 343px;
  top: 0;
  left: 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 10;
  padding: 46px 16px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filter_button {
  padding: 13px 16px;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 11;
}

.filter_ico {
  margin-left: 11px;
}

details details {
  margin: 0 16px;
}

.filter_content_details[open] > summary {
  color: #f16d7f;
}

.desing-sum {
  border-left: 5px solid #f16d7f;
  border-bottom: 1px solid #ebebeb;
  padding: 11px;
  margin-bottom: 24px;
  display: block;
}

.filter_categories {
  margin-bottom: 24px;
}

.filter_categories li {
  color: #6f6e6e;
  margin-left: 18px;
  margin-bottom: 11px;
}

.filter-wrap {
  position: relative;
}

.hidden-block {
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#categories:checked ~ .desing-sum-categories,
#brand:checked ~ .desing-sum-brand,
#designer:checked ~ .desing-sum-designer {
  color: #f16d7f;
}

#categories:checked ~ .hidden-categories,
#brand:checked ~ .hidden-brand,
#designer:checked ~ .hidden-designer {
  height: 327px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.fetured_sort {
  margin-left: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fetured_sort_button {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

.fetured_sort_button summary {
  background: url("../img/sort_arrow_ico.png") center right no-repeat;
  padding-right: 22px;
  margin-right: 28px;
  color: #6f6e6e;
  padding-left: 11px;
}

.fetured_sort_button_filter {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 10;
  padding: 9.5px;
  margin-top: 5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.price-filter {
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page_nav {
  border: 1px solid #ebebeb;
  color: #ebebeb;
  padding: 15px;
  border-radius: 5px;
  max-width: 283px;
  text-align: center;
  margin: 0 auto;
}

.page_nav a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page_nav a.page_nav-extreme-link {
  margin-right: 0;
}

.page_nav a.page_nav-last-link {
  margin-left: 0;
}

.page_nav a:hover {
  text-decoration: underline;
  color: #f16d7f;
}

.left_arrow {
  background: url("../img/left_arrow_page_nav.svg") center no-repeat;
  padding: 0px 6px;
}

.right_arrow {
  background: url("../img/right_arrow_page_nav.svg") center no-repeat;
  padding: 0px 6px;
}

.page_nav a.active {
  color: #f16d7f;
}

.slide {
  background: #f7f7f7;
  position: relative;
  z-index: 0;
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide_left {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 0;
  background: rgba(42, 42, 42, 0.15);
  font-size: 0;
  padding: 13px 17.5px;
}

.slide_left_arrow {
  fill: #000;
  width: 12px;
  height: 21px;
}

.slide_left:hover .slide_left_arrow {
  fill: #f16d7f;
}

.slide_right {
  position: absolute;
  z-index: 999;
  top: 50%;
  right: 0;
  font-size: 0;
  background: rgba(42, 42, 42, 0.15);
  padding: 13px 17.5px;
}

.slide_right_arrow {
  fill: #000;
  width: 12px;
  height: 21px;
}

.slide_right:hover .slide_right_arrow {
  fill: #f16d7f;
}

.slide_image {
  margin: 0 auto;
}

.product_fetuder_margin {
  margin-bottom: 128px;
  margin-top: 128px;
}

.product_desc_block {
  text-align: center;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin-top: -65px;
  position: relative;
}

.category_product {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin-top: 65px;
}

.category_hr {
  width: 63px;
  height: 3px;
  color: #f16d7f;
  background: #f16d7f;
  border: none;
  outline: none;
  margin: 12px auto;
}

.name_product {
  color: #4d4d4d;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 48px;
}

.product_p {
  max-width: 555px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.product_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.hr_product {
  max-width: 642px;
  border: 1px solid #eaeaea;
  margin: 64px auto;
}

.product_sort_button {
  position: relative;
}

.product_sort {
  margin-bottom: 48px;
}

input {
  width: 100%;
  border: 1px solid #a4a4a4;
  padding: 13px 17px;
  color: #222222;
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: inherit;
}

@media screen and (max-width: 1135px) {
  .fetured_card {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .product_card:nth-child(9) {
    display: none;
  }
  .product_card:nth-child(2n + 1) {
    margin-right: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .menu_list {
    right: 0;
  }
  .categories {
    margin-top: 20px;
  }
  .promo {
    min-height: 367px;
    background-size: contain;
    background-position: inherit;
  }
  .banner_heading {
    font-size: 24px;
  }
  .bh_bold {
    font-size: 44px;
  }
  .product_card {
    margin-bottom: 17px;
  }
  .advantage_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 48px;
  }
  .advantage_item {
    margin-top: 48px;
  }
  .mailing_fon {
    background-size: cover;
    background-position: 25%;
  }
  .mailing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .mailing_info {
    margin-top: 64px;
    margin-bottom: 48px;
  }
  .mailing_form {
    margin-bottom: 140px;
  }
  .fetured_sort {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    position: relative;
  }
  .header_left {
    position: initial;
  }
  .desktop_hidden {
    display: none;
  }
  .b_user {
    margin-right: 20px;
  }
  .promo {
    background-image: none;
  }
  .banner_img {
    display: none;
  }
  .banner_heading {
    font-size: 20px;
    margin: 0;
  }
  .categories {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .category_item {
    width: 100%;
  }
  .category_acc img {
    display: none;
  }
  .category_acc {
    height: 111px;
    background: url("../img/category_acc.jpg") 50%;
    background-size: cover;
  }
  .bh_bold {
    font-size: 38px;
  }
  .mailing_form {
    margin-bottom: 109px;
    padding: 0;
  }
  .mailing_form_heading {
    font-size: 14px;
    line-height: 21.5px;
  }
  .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 43px;
    padding-bottom: 10px;
  }
  .copy {
    text-align: center;
    margin-top: 40px;
  }

  button {
    font-size: 11px;
    line-height: 14px;
    padding: 9px 18px;
    margin: 0 4px;
  }

  .product_card:nth-child(2n + 1) {
    margin-right: 0;
  }
}
